
<div>Component2 app outlet</div>
<nav class="navbar navbar-PILLS ">
    <div class="container">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink='/'>Main</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink='comp2a'>Component TwoA</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink='comp2b'>Component TwoB</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a routerLink='comp2c'>Component TwoC</a>
            </li>
        </ul>

    </div>
</nav>
<br>
<br>
<router-outlet></router-outlet>