<div class="menu">

  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink='/comp1'>Component One</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink='comp1/comp1a'>Component OneA</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink='/comp2'>Component Two</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink='/comp3'>Component Three</a>
  </li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a routerLink='/'>Main</a>
  </li>
</div>
<div>Component app outlet</div>
<router-outlet></router-outlet>